<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<!-- Change the following parameters according to the pattern in usage -->
	<arg name="squares_sides_size_in_meters" default="0.0200" />
	<arg name="markers_sides_size_in_meters" default="0.0150" />
	<!-- <arg name="squares_sides_size_in_meters" default="0.0248" />
	<arg name="markers_sides_size_in_meters" default="0.0155" /> -->
	<arg name="number_of_squares_in_x" default="10" />
	<arg name="number_of_squares_in_y" default="14" />
	<arg name="number_of_markers" default="70" />
	<arg name="number_of_bits_for_markers_sides" default="4" />
	<arg name="dictionary_id" default="3" />


	<arg name="use_static_tf_broadcaster" default="true" />
	<arg name="tf_broadcaster_republish_rate" default="10.0" /> <!-- only used if > 0 -->

	<node pkg="charuco_detector" type="charuco_detector_node" name="$(anon charuco_detector)" clear_params="true" output="screen">
		<param name="charuco/squaresSidesSizeM" type="double" value="$(arg squares_sides_size_in_meters)" />
		<param name="charuco/markersSidesSizeM" type="double" value="$(arg markers_sides_size_in_meters)" />
		<param name="charuco/numberOfSquaresInX" type="int" value="$(arg number_of_squares_in_x)" />
		<param name="charuco/numberOfSquaresInY" type="int" value="$(arg number_of_squares_in_y)" />
		<param name="charuco/numberOfMarkers" type="int" value="$(arg number_of_markers)" />
		<param name="charuco/numberOfBitsForMarkersSides" type="int" value="$(arg number_of_bits_for_markers_sides)" />
		<param name="charuco/dictionaryId" type="int" value="$(arg dictionary_id)" />


		<param name="use_static_tf_broadcaster" type="bool" value="$(arg use_static_tf_broadcaster)" />
		<param name="tf_broadcaster_republish_rate" type="double" value="$(arg tf_broadcaster_republish_rate)" />
	</node>
</launch>
